.lesson-card {
  background-color: $neutral-95;
  width: 320px;
  min-height: 220px;
  border-radius: 40px;
  border: 2px solid $neutral-10;

  .icon {
    background-color: pink;
    height: 64px;
    width: 64px;
    top: -16px;
    right: -24px;
    border-radius: 100%;
    border: 2px solid $neutral-10;
  }
}