.home-screen {
  .lesson-card { margin-bottom: 100px; }

  .first-column { width: fit-content; }

  .stroke-container {
    width: 320px;
    margin-top: 148px;
  
    .stroke {
      width: 100%;
      height: 178px;

      &:nth-of-type(even) { transform: scaleX(-1); }
    }
  }

  .second-column {
    width: fit-content;

    .statistics {
      .statistic {
        height: 96px;
        width: 112px;
        border: 2px solid $neutral-10;
        border-radius: 24px;
      }
    }  
  }
}
